In [1]:
import pandas as pd

In [3]:
filepath = (r'C:\Users\munam\Downloads\datasets\Iris.csv')
# download the dataset from kaggle --> https://www.kaggle.com/datasets/uciml/iris

In [4]:
# import the data
data = pd.read_csv(filepath)

In [5]:
# print a few rows 
print(data.iloc[:5])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
# different delimeters - tab-seperated file (.tsv):
data = pd.read_csv(filepath, sep='\t')
print(data)

    Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                        1,5.1,3.5,1.4,0.2,Iris-setosa
1                        2,4.9,3.0,1.4,0.2,Iris-setosa
2                        3,4.7,3.2,1.3,0.2,Iris-setosa
3                        4,4.6,3.1,1.5,0.2,Iris-setosa
4                        5,5.0,3.6,1.4,0.2,Iris-setosa
..                                                 ...
145                 146,6.7,3.0,5.2,2.3,Iris-virginica
146                 147,6.3,2.5,5.0,1.9,Iris-virginica
147                 148,6.5,3.0,5.2,2.0,Iris-virginica
148                 149,6.2,3.4,5.4,2.3,Iris-virginica
149                 150,5.9,3.0,5.1,1.8,Iris-virginica

[150 rows x 1 columns]

In [9]:
# different delimeters - space-seperated file:
data = pd.read_csv(filepath, delim_whitespace =True)
print(data)

    Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                        1,5.1,3.5,1.4,0.2,Iris-setosa
1                        2,4.9,3.0,1.4,0.2,Iris-setosa
2                        3,4.7,3.2,1.3,0.2,Iris-setosa
3                        4,4.6,3.1,1.5,0.2,Iris-setosa
4                        5,5.0,3.6,1.4,0.2,Iris-setosa
..                                                 ...
145                 146,6.7,3.0,5.2,2.3,Iris-virginica
146                 147,6.3,2.5,5.0,1.9,Iris-virginica
147                 148,6.5,3.0,5.2,2.0,Iris-virginica
148                 149,6.2,3.4,5.4,2.3,Iris-virginica
149                 150,5.9,3.0,5.1,1.8,Iris-virginica

[150 rows x 1 columns]

In [11]:
# don't use first row for column names:
data = pd.read_csv(filepath, header=None)
print(data)

       0              1             2              3             4  \
0     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1      1            5.1           3.5            1.4           0.2
2      2            4.9           3.0            1.4           0.2
3      3            4.7           3.2            1.3           0.2
4      4            4.6           3.1            1.5           0.2
..   ...            ...           ...            ...           ...
146  146            6.7           3.0            5.2           2.3
147  147            6.3           2.5            5.0           1.9
148  148            6.5           3.0            5.2           2.0
149  149            6.2           3.4            5.4           2.3
150  150            5.9           3.0            5.1           1.8

                  5
0           Species
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica

[151 rows x 6 columns]

In [12]:
# specify column names:
data = pd.read_csv(filepath, names=['Name1', 'Name2'])
print(data)

                                                     Name1           Name2
Id  SepalLengthCm SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1   5.1           3.5          1.4                     0.2     Iris-setosa
2   4.9           3.0          1.4                     0.2     Iris-setosa
3   4.7           3.2          1.3                     0.2     Iris-setosa
4   4.6           3.1          1.5                     0.2     Iris-setosa
...                                                    ...             ...
146 6.7           3.0          5.2                     2.3  Iris-virginica
147 6.3           2.5          5.0                     1.9  Iris-virginica
148 6.5           3.0          5.2                     2.0  Iris-virginica
149 6.2           3.4          5.4                     2.3  Iris-virginica
150 5.9           3.0          5.1                     1.8  Iris-virginica

[151 rows x 2 columns]

In [15]:
# custo missing values:
data = pd.read_csv(filepath, na_values=['Na', 99])
print(data)

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1.0            5.1           3.5            1.4           0.2
1      2.0            4.9           3.0            1.4           0.2
2      3.0            4.7           3.2            1.3           0.2
3      4.0            4.6           3.1            1.5           0.2
4      5.0            5.0           3.6            1.4           0.2
..     ...            ...           ...            ...           ...
145  146.0            6.7           3.0            5.2           2.3
146  147.0            6.3           2.5            5.0           1.9
147  148.0            6.5           3.0            5.2           2.0
148  149.0            6.2           3.4            5.4           2.3
149  150.0            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

# read sql file

In [18]:
import pandas as pd
import sqlite3 as sq3
import pandas.io.sql as pds